.App {
  text-align: center;
}

.underline {
  text-decoration: line-through;
}

.btn-delete {
  color: white;
  border-radius: 4px;
  padding: 4px;
  text-shadow: 0 1px 1px rgba(0, 0. 0, 0.2);
  background: rgb(218, 27, 27);
  margin: 20px;
  font-size: 15px;
}

.btn-add {
  margin: 5px;
}
